doctype html
html
  head
    link(rel='stylesheet', href='/assets/public/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(crossorigin='anonymous', src='https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js')
  body
    block content
