doctype html
html
  head
    link(rel='icon', type='image/png', href='/assets/images/favicon-16x16.png', size='16x16')
    link(rel='icon', type='image/png', href='/assets/images/favicon-32x32.png', size='32x32')
    link(rel='stylesheet', href='/assets/style/transfonter.css')
    link(rel='stylesheet', href='/assets/style/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(crossorigin='anonymous', src='https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js')
  body
    block content
