@font-face {
    font-family: 'BellSlim';
    src: local('BellSlim SemiBold Regular'), local('BellSlimSemiBold'),
        url('../fonts/BellSlimSemiBold.woff2') format('woff2'),
        url('../fonts/BellSlimSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BellSlim';
    src: local('BellSlim Regular'), local('BellSlim'),
        url('../fonts/BellSlim.woff2') format('woff2'),
        url('../fonts/BellSlim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BellSlim';
    src: local('BellSlim Medium Regular'), local('BellSlimMedium'),
        url('../fonts/BellSlimMedium.woff2') format('woff2'),
        url('../fonts/BellSlimMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
