@font-face {
    font-family: 'Europa';
    src: local('Europa-RegularItalic'),
        url('../fonts/Europa-RegularItalic.woff2') format('woff2'),
        url('../fonts/Europa-RegularItalic.woff') format('woff'),
        url('../fonts/Europa-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: local('Europa-LightItalic'),
        url('../fonts/Europa-LightItalic.woff2') format('woff2'),
        url('../fonts/Europa-LightItalic.woff') format('woff'),
        url('../fonts/Europa-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: local('Europa-Regular'),
        url('../fonts/Europa-Regular.woff2') format('woff2'),
        url('../fonts/Europa-Regular.woff') format('woff'),
        url('../fonts/Europa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: local('Europa-BoldItalic'),
        url('../fonts/Europa-BoldItalic.woff2') format('woff2'),
        url('../fonts/Europa-BoldItalic.woff') format('woff'),
        url('../fonts/Europa-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Europa';
    src: local('Europa-Light'),
        url('../fonts/Europa-Light.woff2') format('woff2'),
        url('../fonts/Europa-Light.woff') format('woff'),
        url('../fonts/Europa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Europa';
    src: local('Europa-Bold'),
        url('../fonts/Europa-Bold.woff2') format('woff2'),
        url('../fonts/Europa-Bold.woff') format('woff'),
        url('../fonts/Europa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

