@font-face {
    font-family: 'BellSlim';
    src: local('BellSlim SemiBold Regular'), local('BellSlimSemiBold'),
        url('/assets/fonts/BellSlimSemiBold.woff2') format('woff2'),
        url('/assets/fonts/BellSlimSemiBold.woff') format('woff'),
        url('/assets/fonts/BellSlimSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BellSlim';
    src: local('BellSlim Regular'), local('BellSlim'),
        url('/assets/fonts/BellSlim.woff2') format('woff2'),
        url('/assets/fonts/BellSlim.woff') format('woff'),
        url('/assets/fonts/BellSlim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BellSlim';
    src: local('BellSlim Medium Regular'), local('BellSlimMedium'),
        url('/assets/fonts/BellSlimMedium.woff2') format('woff2'),
        url('/assets/fonts/BellSlimMedium.woff') format('woff'),
        url('/assets/fonts/BellSlimMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTW01-35Light';
    src: local('Avenir LT W01 35 Light'), local('AvenirLTW01-35Light'),
        url('/assets/fonts/AvenirLTW01-35Light.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTW01-35Light.woff') format('woff'),
        url('/assets/fonts/AvenirLTW01-35Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTW01-95Black';
    src: local('Avenir LT W01 95 Black'), local('AvenirLTW01-95Black'),
        url('/assets/fonts/AvenirLTW01-95Black.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTW01-95Black.woff') format('woff'),
        url('/assets/fonts/AvenirLTW01-95Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTW01-55Roman';
    src: local('Avenir LT W01 55 Roman'), local('AvenirLTW01-55Roman'),
        url('/assets/fonts/AvenirLTW01-55Roman.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTW01-55Roman.woff') format('woff'),
        url('/assets/fonts/AvenirLTW01-55Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTW01-65Medium';
    src: local('Avenir LT W01 65 Medium'), local('AvenirLTW01-65Medium'),
        url('/assets/fonts/AvenirLTW01-65Medium.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTW01-65Medium.woff') format('woff'),
        url('/assets/fonts/AvenirLTW01-65Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTW01-85Heavy';
    src: local('Avenir LT W01 85 Heavy'), local('AvenirLTW01-85Heavy'),
        url('/assets/fonts/AvenirLTW01-85Heavy.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTW01-85Heavy.woff') format('woff'),
        url('/assets/fonts/AvenirLTW01-85Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: local('icomoon'),
        url('/assets/fonts/icomoon.woff2') format('woff2'),
        url('/assets/fonts/icomoon.woff') format('woff'),
        url('/assets/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

